/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-green-50;
}

@font-face {
	font-family: 'MontaguSlab';
	src: url('/fonts/MontaguSlab.ttf');
}

:root {
	font-family: 'MontaguSlab', serif;
}